---
new_page_extension: md
auto_deploy: false
admin_path: ''
webhook_url: 
sections:
- type: heading
  label: Blog Post
- type: directory
  path: content/posts
  label: General
  create: all
  match: "**/*"
- type: heading
  label: About
- type: document
  path: content/about.en.md
  label: About (en)
- type: document
  path: content/about.de.md
  label: About (de)
- type: document
  path: content/about.pt.md
  label: About (pt)
- type: heading
  label: Contact
- type: document
  path: content/contact.en.md
  label: Contact (en)
  match: "**/*"
- type: document
  path: content/contact.de.md
  label: Contact (de)
  match: "**/*"
- type: document
  path: content/contact.pt.md
  label: Contact (pt)
  match: "**/*"
- type: heading
  label: Projects
- type: document
  path: content/projects.en.md
  label: Projects (en)
  match: "**/*"
- type: document
  path: content/projects.de.md
  label: Projects (de)
  match: "**/*"
- type: document
  path: content/projects.pt.md
  label: Projects (pt)
  match: "**/*"
- type: heading
  label: Configuration
- type: document
  path: config.toml
  label: Configuration
- type: heading
  label: Root
- type: directory
  path: ''
  label: Root
  create: all
  match: "**/*"
upload_dir: static/uploads
public_path: "/uploads"
front_matter_path: ''
use_front_matter_path: false
file_template: ":filename:"
build:
  preview_env:
  - HUGO_ENV=staging
  - HUGO_VERSION=0.81.0
  preview_output_directory: public
  preview_docker_image: forestryio/hugo:latest
  mount_path: "/srv"
  working_dir: "/srv"
  instant_preview_command: hugo server -D -E -F --renderToDisk -d public
version: 0.81.0
